*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.1;
  color: #333;
  font-weight: 400;

  display: grid;
  place-content: center;
}

@media (max-width: 39em) {
  html {
    font-size: 50%;
  }
}
